* {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/img/Trou-noir-etoile.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

#container {
    width: 100%;
    display: flex;
}

#sidebar {
    background-color: rgba(61, 61, 61, 0.75);
    width: 300px;
    max-height: 28em;
    margin: 20px;
    display: none;
}

.sidebar-item {
    max-height: 22em;
    overflow-y: scroll;
}

#sidebar input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(24, 24, 24, 0.5);
    color: white;
}

.category {
    display: flex;
}

#sidebar .category {
    padding: 10px;
}

.main-content {
    width: 100%;
    height: 650px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.71);
    overflow-y: scroll;
}

.game {
    display: flex;
    width: 100%;
    margin-bottom: 3em;
}

.game p {
    overflow-y: auto;
}

.game img {
    width: 80%;
}

.delete-category {
    width: 20%;
    border-radius: 0 8px 8px 0;
    background-image: linear-gradient(144deg, #5b42f3 50%, #00ddeb);
    padding: 1% 1% 1% 0;
}

.cat-name {
    width: 80%;
    border-radius: 8px 0 0 8px;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%);
    padding: 1% 0 1% 1%;
    font-family: 'Graduate', sans-serif;
}

.cat-name span {
    border-radius: 6px 0 0 6px;
}

.delete-category span {
    border-radius: 0 6px 6px 0;
}

.td {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.td button {
    width: 80%;
    margin: auto;
}

#descri-scroll {
    width: 300px;
}

#addForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Graduate", sans-serif;
}

.user {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 3em;
}

.user p {
    overflow-y: auto;
}

.user img {
    width: 80%;
}

.td a {
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    display: flex;
    font-family: 'Graduate', sans-serif;
    font-size: 18px;
    line-height: 1em;
    width: 100%;
    padding: 3px;
    cursor: pointer;
    transition: all 0.3s;
}

.td a:active,
.td a:hover {
    outline: 0;
}

.td a span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    text-align: center;
}

.td a:hover span {
    background: none;
    color: white;
}

.td a:active {
    transform: scale(0.9);
}

#showuser {
    display: flex;
}

#showgame {
    display: none;
}

.add-buttons button {
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(152, 65, 252, 0.37) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: 'Graduate', sans-serif;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    margin-top: 15px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;

}

.add-buttons button:active,
button:hover {
    outline: 0;
}

.add-buttons button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.add-buttons button:hover span {
    background: none;
}

.add-buttons button:active {
    transform: scale(0.9);
}

.add-buttons div {
    padding: 20px;
}

#add-info {
    display: flex;
    justify-content: space-around;
}

.info-game {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2%;
    max-width: 100%;
    overflow-y: scroll;
}

.categories {
    margin: 2% 4%;
}

.category-container{
    width: 80%;
    margin: auto;
}

#modify-info{
    display: flex;
    justify-content: space-around;
}

#modal-categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2%;
    max-width: 100%;
    overflow-y: scroll;
}

button {
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #ffffff;
    font-family: 'Graduate', sans-serif;
    display: flex;
    font-size: 18px;
    line-height: 1em;
    width: 100%;
    padding: 3px;
    cursor: pointer;
    transition: all 0.3s;
}

button:active,
button:hover {
    outline: 0;
}

button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

button:hover span {
    background: none;
}

button:active {
    transform: scale(0.9);
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #242424;
    margin: 25px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: white;
    font-family: 'Graduate', sans-serif;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.category a {
    align-items: center;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    display: flex;
    font-size: 18px;
    line-height: 1em;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s;
}

.category a:active,
.category a:hover {
    outline: 0;
}

.category a span {
    background-color: black;
    padding: 16px 3px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.category a:hover span {
    background: none;
}

.category a:active {
    transform: scale(0.9);
}

.category span {
    text-align: center;
    padding-left: 6%;
}

.modal-title {
    display: flex;
    justify-content: center;
}

table a {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    line-height: 1em;
    width: 100%;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}

table a:active,
table a:hover {
    outline: 0;
}

table a span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

table a:hover span {
    background: none;
}

table a:active {
    transform: scale(0.9);
}