body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/img/Trou-noir-etoile.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

input {
    width: 94%;
}

#favorites {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page_selector {
    display: flex;
    justify-content: center;
    gap: 50px;
}


#favorites img {
    width: 150px;
}

.game-shower {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 20px;
}

#container {
    width: 100%;
    display: flex;
}

#game-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card {
    position: relative;
    perspective: 1000px;
    width: 25%;
    height: 200px;
    margin-top: 25px;
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.front {
    transform: rotateY(180deg);
}

.back {
    transform: rotateY(0deg);
}

.flip .front {
    transform: rotateY(0deg);
}

.flip .back {
    transform: rotateY(-180deg);
}

.front img {
    width: 125px;
    height: 200px;
}

.back img {
    width: 125px;
    height: 200px;
}

#page_selector img {
    width: 150px;
    height: 200px;
}

.category a {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    width: 100%;
    padding: 3px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Bruno Ace', sans-serif;
}

.category a:active,
.category a:hover {
    outline: 0;
}

.category a span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.category a:hover span {
    background: none;
}

.category a:active {
    transform: scale(0.9);
}

#favorites a {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    width: 100%;
    padding: 3px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}

#favorites a:active,
#favorites a:hover {
    outline: 0;
}

#favorites a span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

#favorites a:hover span {
    background: none;
}

#favorites a:active {
    transform: scale(0.9);
}

.sidebar {
    background-color: rgba(61, 61, 61, 0.75);
    width: 300px;
    height: auto;
    margin: 20px;
}

.sidebar-item {
    height: 500px;
    overflow-y: scroll;
}

.sidebar input {
    width: 93.3%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(24, 24, 24, 0.5);
    color: white;
}

.sidebar .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content p {
    color: black;
}

.modal-content {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    font-family: 'Graduate', sans-serif;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal a {
    color: black;
}

#game-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#modal-image {
    width: 400px;
}

#game-info {
    margin-left: 20px;
}

#game-info div {
    background-color: #242424cc;
    padding: 5px;
    color: white;
    margin-bottom: 5px;
}

#game-info div p {
    color: white;
}

#game-info div a {
    color: white;
}

#arrow-right {
    top: -4px;
    position: relative;
    background-color: #ffffff;
}

#arrow-right::before,
#arrow-right::after {
    content: '';
    position: absolute;
    right: -30px;
    width: 50px;
    height: 9px;
    background-color: #ffffff;
}

#arrow-right::before {
    top: -15px;
    transform: rotate(45deg);
}

#arrow-right::after {
    top: 15px;
    transform: rotate(-45deg);
}

#arrow-left {
    top: -4px;
    position: relative;
    background-color: #ffffff;
}

#arrow-left::before,
#arrow-left::after {
    content: '';
    position: absolute;
    right: -20px;
    width: 50px;
    height: 9px;
    background-color: #ffffff;
}

#arrow-left::before {
    top: -15px;
    transform: rotate(-45deg);
}

#arrow-left::after {
    top: 15px;
    transform: rotate(45deg);
}

.arrow-container {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(90deg, #af40ff, #5b42f3 50%, #00ddeb);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#favorite-button {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    width: 100%;
    padding: 3px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}

#favorite-button:active,
#favorite-button:hover {
    outline: 0;
}

#favorite-button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

#favorite-button:hover span {
    background: none;
}

#favorite-button:active {
    transform: scale(0.9);
}

#comment-list {
    overflow-y: scroll;
    height: 120px;
}

#modification_notification {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modification_notification p {
    margin: auto;
    background-color: rgb(5, 158, 0);
    padding: 10px;
    margin-top: 20px;
    font-family: 'Graduate', sans-serif;
}