body {
  margin: 0;
  padding: 0;
  background-image: url('/assets/img/Trou-noir-etoile.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

h2 {
  text-align: center;
  font-family: 'Graduate', sans-serif;
  color: white;
}

.connect-container {
  position: absolute;
  width: 94%;
  top: 3%;
}

label {
  font-family: 'Graduate', sans-serif;
  color: white;
}

.login-signup-container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  max-width: 60%;
  margin: auto;
  padding: 40px;
}

#login-section {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(to bottom, #0066ff, black);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  position: relative;
  gap: 35px;
}

#signup-section {
  flex: 1;
  padding: 20px;
  background: linear-gradient(to bottom, #8000ff, black);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: block;
  height: 80%;
}

#login-section form {
  margin-top: 15%;
}

#login-section form,
#signup-section form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Styles pour les inputs et les boutons */
input {
  width: 98%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

input[type="file"] {
  color: #fff;
  font-family: 'Graduate', sans-serif;
  /* Couleur du texte en blanc */
}

#modification_notification {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modification_notification p {
  margin: auto;
  background-color: rgb(5, 158, 0);
  padding: 10px;
  margin-top: 20px;
  font-family: 'Graduate', sans-serif;
}

.error-message {
  margin-top: 10px;
  color: white;
  background-color: rgb(148, 0, 0);
  display: flex;
  justify-content: center;
  padding: 5px;
  font-family: 'Graduate', sans-serif;
}

/* From Uiverse.io by cssbuttons-io */
button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  font-family: 'Graduate', sans-serif;
  justify-content: center;
  line-height: 1em;
  width: 100%;
  padding: 3px;
  text-decoration: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}

#forgor-container {
  margin-bottom: 2%;
}

#newbutton {
  display: none;
}

#oldbutton {
  display: none;
}

@media (max-width: 450px) {
  #signup-section {
    display: none;
  }

  .login-signup-container {
    justify-content: center;
    max-width: 80%;
  }

  #newbutton {
    display: flex;
    margin-bottom: 20px;
  }

  #oldbutton {
    display: none;
  }
}