{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/profile.css">
{% endblock %}

{% block main %}
	<head>
		<title>{{ title }}</title>
	</head>
	<main>
		<div id="container">
			<div id="profile-container">
				<div id="identity">
					<div>
						<p>temps de ban restant :</p>
					</div>
					<div>
						<img src="/assets/img/uploads/profilePic/{{ user.profileImage }}" alt="User Avatar">
					</div>
					<div>
						<p>{{ user.username }}</p>
					</div>
					<div>
						<form action="/logout" method="GET">
							<button type="submit">
								<span>Déconnexion</span>
							</button>
						</form>
					</div>
				</div>
				<div id="propositions">

					<form id="proposing" action="/proposing" method="POST" enctype="multipart/form-data">
						<div>
							<h2>Proposer un nouveau jeu</h2>
						</div>
						<div>
							<label for="gameName">Insérez le nom du jeu :
							</label>
							<input type="text" name="gameName" id="gameName">
						</div>
						<div>
							<label for="gamePhoto">Insérez une photo du jeu :
							</label>
							<input type="file" name="gamePhoto" id="gamePhoto" accept="image/*">
						</div>
						<div>
							<label for="shortDesc">
								Décrivez ce jeu comme vous pouvez :
							</label>
							<textarea name="shortDesc" id="shortDesc"></textarea>
						</div>
						<button type="submit">
							<span>Proposez maintenant</span>
						</button>
					</form>
				</div>
			</div>
		</div>

	</main>
{% endblock %}
{% block script %}
	<script src="/assets/js/favorites.js"></script>
{% endblock %}
